
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type:none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

/* NAVBAR */

.navbar{
  position: absolute;
  right: 20px;

}

.navbar ul{
  
  display: flex;
  

}

.navbar ul li{
  margin: 10px ;
  font-size: 1.4rem;
  color: rgb(0, 0, 0);
  padding: 15px;
}
.navbar ul li a{
  color: rgb(0, 0, 0);
}


.navbar ul li:hover{
  cursor: pointer;
  background: rgba(0, 8, 19, 0.4);
  border-radius: 10px;
 
}
.navbar ul li a:hover{
  color: white;
}


/* CONTAINER */
.container{
  background: url('img/aboutus.png') no-repeat center center/ cover;
  height: 100vh;
  width: 100vw;
}

.container h1{
  text-align: center;
}


.about-us{
 
  display: flex;
justify-content: center;
align-items: center;
color: rgb(0, 62, 104);
flex-direction: column;
height: 100vh;
width: 100vw;
  font-size: 1.5rem;
  
}

.container .about-us .vision{
  margin-top: 70px;
  height: auto;
  width: 50%;
  text-align: center;

  
}
.container .about-us .mission{
  height: auto;
  width: 50%;
  text-align: center;
  margin-top: 60px;
}

.container .about-us .history{
  height: auto;
  width: 50%;
  text-align: center;
  margin-top: 60px;
}



